.idea/
*.iml

/dagster/home/.logs_queue
/dagster/home/.nux
/dagster/home/.telemetry
/dagster/home/logs
/dagster/storage/
/dagster/tmp/

/grafana/logs/
/grafana/data/

/init/downloads/*

/marquez/postgres/

/spark/ivy/
/spark/logs/
/spark/metastore/
/spark/spark-warehouse/

/workspace/jars/*
/workspace/logs/*

/zeppelin/logs/
